extends base

- load widget_tweaks

block header
  - with headerMessage='Account Registration'
    include includes/header-anon

block content
  .container

    .row.foot-space
      .col-md-12
        h2 You have now completed the tutorial and are ready to Mark2Cure!
        - if not user.is_authenticated
          h4 To skip the tutorial in the future and to save your score and any points you accumulate, please register for an account.

      .row.foot-space-xl
        .col-md-6.col-md-offset-3
          .row
            .col-sm-12
              h3.text-center Register for an account
          .row

            form(role='form', method='post', action="{% url 'registration:user_creation' %}").form-horizontal
              - csrf_token
              #{form.errors}

              fieldset
                .form-group
                  label.col-sm-4.control-label Username
                  .col-sm-8 #{form.username|add_class:'form-control'}

                .form-group
                  label.col-sm-4.control-label Email
                  .col-sm-8 #{form.email|add_class:'form-control'}

                .form-group
                  label.col-sm-4.control-label Password
                  .col-sm-8 #{form.password1|add_class:'form-control'|attr:'type:password'}

                .form-group
                  label.col-sm-4.control-label Verify Password
                  .col-sm-8 #{form.password2|add_class:'form-control'|attr:'type:password'}

              fieldset
                .form-group
                  .col-xs-4.col-xs-offset-4
                    button(type="submit").btn.btn-default Create Account

