.row
  .col-sm-4.col-sm-offset-1
    button(id="instructions_toggle").btn.btn-success
      | Instructions

  div(id="instructions", style="display:none").col-sm-10.col-sm-offset-1.well.head-space
    p
      | <strong>Task:</strong> You will be presented with text from the biomedical literature which we believe may help resolve some important medically related questions. The task is to highlight words and phrases in that text which are <u>diseases</u>, <u>disease groups</u>, or <u>symptoms</u> of diseases.  <u>This work will help advance research in cancer and many other diseases</u>!

    p
      strong
        | Here are some examples of correctly highlighted text.  Please study these before attempting to take the qualification test.  Please also feel free to refer back to these examples if you are uncertain.

    h4
      | Instructions (Click to highlight single words or click and drag spans of text)

    div#accordion.foot-space.panel-group

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
              strong
                | Rule #1: Highlight <u>all</u> diseases and disease abbreviations
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            img(src="/static/images/experiment/11/1.gif").img-rounded
            img(src="/static/images/experiment/11/2.gif").img-rounded
            .alert.alert-danger
              h4.text-center
                | and NOT like this! (spaces between the words indicate incorrect highlighting)
              img(src="/static/images/experiment/11/3.gif").img-rounded


      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
              strong
                | Rule #2: Highlight the longest span of text specific to a disease
        #collapseTwo.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/4.gif").img-rounded
            .alert.alert-warning
              p
                | and not just ‘diabetes’.
            img(src="/static/images/experiment/11/5.gif").img-rounded
            .alert.alert-warning
              p
                | and not just ‘cancer’.
            img(src="/static/images/experiment/11/6.gif").img-rounded
            .alert.alert-warning
              p
                | and not just ‘breast cancer’

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
              strong
                | Rule #3: Highlight disease conjunctions as single, long spans.
        #collapseThree.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/7.gif").img-rounded
            img(src="/static/images/experiment/11/8.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
              strong
                | Rule #4: Highlight symptoms - physical results of having a disease
        #collapseFour.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/9.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
              strong
                | Rule #5: Highlight <u>all</u> occurrences of disease terms
        #collapseFive.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/10.gif").img-rounded

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
              strong
                | Rule #6: Highlight <u>all</u> diseases, disease groups and key disease symptoms
        #collapseSix.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/11.gif").img-rounded


      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapseSeven")
              strong
                | Rule #7: Do not highlight gene names
        #collapseSeven.panel-collapse.collapse
          .panel-body
            img(src="/static/images/experiment/11/12.gif").img-rounded
            .alert.alert-warning
              p
                | highlight only the disease mention, not the gene
            img(src="/static/images/experiment/11/13.gif").img-rounded
            .alert.alert-warning
              p
                | the disease is highlighted, but the related gene is not.
            img(src="/static/images/experiment/11/14.gif").img-rounded
            .alert.alert-warning
              p
                | In some cases the name of the gene may be the same as the name of the disease.  In these cases you should only highlight the text if it is referring to the disease and not to the gene.  The first NAS is highlighted while the second is not.

