extends base

block header
  - with headerMessage='Training #2: Avoiding Common Pitfalls'
    include includes/header


block content
  .container
    .row.foot-space
      .col-md-12
        h2 Use your Disease Marking Skill to Mark this Doc


    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest-1.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph MEFV-Gene analysis in armenian patients with Familial Mediterranean fever : diagnostic value and unfavorable renal prognosis of the M694V homozygous genotype-genetic and therapeutic implications .
      #quest-2.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph Familial Mediterranean fever ( FMF ) is a recessively inherited disorder that is common in patients of Armenian ancestry . To date , its diagnosis , which can be made only retrospectively , is one of exclusion , based entirely on nonspecific clinical signs that may lead to unnecessary surgery . Renal amyloidosis , prevented by colchicine , is the most severe complication of FMF , a disorder associated with mutations in the MEFV gene . To evaluate the diagnostic and prognostic value of MEFV-gene analysis , we investigated 90 Armenian FMF patients from 77 unrelated families that were not selected through genetic-linkage analysis . Eight mutations , one of which ( R408Q ) is new , were found to account for 93 % of the 163 independent FMF alleles , with both FMF alleles identified in 89 % of the patients . In several instances , family studies provided molecular evidence for pseudodominant transmission and incomplete penetrance of the disease phenotype . The M694V homozygous genotype was found to be associated with a higher prevalence of renal amyloidosis and arthritis , compared with other genotypes ( P = . 0002 and P = . 006 , respectively ) .


    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          div(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%;').progress-bar.progress-bar-striped.active
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          a(href='/training/intro/2/step/feedback/', id='next', disabled).btn.btn-default.pull-right Next


block post-footer
  include training/includes/intro-2-js
  include document/includes/instructions-modal
  script.
    window.intercomSettings['quest'] = 2;
  script.
      var answers1 = [{'text': 'Familial Mediterranean fever', 'start': 45}];
      var answers2 = [{'text': 'Familial Mediterranean fever', 'start': 0},
      {'text': 'FMF', 'start': 31},
      {'text': 'Renal amyloidosis', 'start': 296},
      {'text': 'FMF', 'start': 377},
      {'text': 'FMF', 'start': 539},
      {'text': 'FMF', 'start': 741},
      {'text': 'FMF', 'start': 765},
      {'text': 'renal amyloidosis', 'start': 1050},
      {'text': 'arthritis', 'start': 1072}];

      var validation_check1 = function(collection) {
        if(validate(collection, answers1)) { correct1(); }
      };
      var validation_check2 = function(collection) {
        if(validate(collection, answers2)) { correct2(); }
        if(validate(collection, answers2, 4)) { textControl('in', 0, 1000); }
      };
