/* =========================
    Entity Selection Game
========================= */

p.paragraph {
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
  line-height: 1.8em;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 10px 30px;
}

.paragraph-box,
.alert-paragraph-box {
  border: 16px solid #f5f5f5;
}

p.paragraph span:hover {
  cursor: pointer;
  color: steelblue;
}


/*
 *
 * Community Consensus & Results page paragraph classes
 *
 */

span.putty-rect {
  position: absolute;

  width: 5px;
  background-color: #0cf;
}

p.paragraph .golden {
  border-bottom: 6px solid #00CC00;
}

p.paragraph .neighbor_gm,
p.paragraph .neighbor_u {
  margin-right: 5px !important;
}

p.paragraph span.user_annotated,
span.user_annotated {
  /* Word span when simply showing user selection */
  background-color: #0cf;
}

p.paragraph span.focused {
  /* Word span when bringing attention to it via table hover */
  /* font-weight: 600; */
  font-weight: bold;
}

