extends base

- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage='Community Dashboard'
    include includes/header

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}


  .container
    .row
      .col-md-10.col-md-offset-1
        #dashboard.row.head-space.paragraph-box
          .col-xs-12.text-center
            h2.quest-loading Loading...

  include document/includes/welcome-modal

block post-footer
    #fb-root
    - if welcome
      script.
        $('#dashboardWelcomeModal').modal('show');

    script.
      var draw_dashboard = function(data) {
        $('#dashboard').html('');
        var canvas = d3.select('#dashboard');

        var available_quests = _.filter(data, function(item) { return item.enabled && !item.completed });
        var completion_size = _.map(available_quests, function(item) { return item.completions; });

        var completion_scale = d3.scale.linear()
          .domain([_.min(completion_size), _.max(completion_size)])
          .range(['#00CCFF', '#E64C66']);

        var template = _.template("
        <div class='row'>
          <div class='col-xs-12 text-center'>
            <% if(d.progress.completed) { %>
              <span class='glyphicon glyphicon-certificate muted' title='The community has completed this Quest.'></span>

            <% } else if (d.user.completed) { %>
              <span class='glyphicon glyphicon-ok' title='You have completed this Quest.'></span>

            <% } else if (!d.user.enabled) { %>
              <span class='glyphicon glyphicon-ban-circle muted' title='This quest is not enabled.'></span>

            <% } else { %>
              <p style='font-size: 1.75em; line-height: 1.8em;'><strong><a href='/quest/<%- d.id %>/' title='Click to start this quest!'><%- d.name %></a></strong></p>

            <% } %>
          </div>
        </div>

        <% if(d.user.enabled) { %>
          <div class='row'>
            <div class='col-xs-12' title='This quest is <%- progress %>% complete.'>
              <div class='progress'>
                <div class='progress-bar' role='progressbar' aria-valuenow='<%- progress %>' aria-valuemin='0' aria-valuemax='100' style='width: <%- progress %>%;'>
                  <span><%- d.progress.current %> Documents</span>
                </div>
              </div>
            </div>
          </div>
        <% } %>
          ");

        var attrs = {
          'class': 'quest col-xs-4 col-sm-2 col-md-1',
        };
        var styles = {
        };
        var quest = canvas.selectAll('.quest').remove();
        var quest = canvas.selectAll('.quest').data(data);

        quest.enter().append('div')
          .attr(attrs)
          .style(styles)
          .html(function(d, i) {
            return template({
              'd': d,
              'progress': (d.progress.current/d.progress.required)*100,
              'completions_scale': completion_scale(d.completions),
            });
          });
        quest.transition().attr(attrs);
        quest.exit().remove();
      };

      var ajax_settings = {
        'type': 'GET',
        'url': '/quest/api/read/',
        'success': function(data) {
          draw_dashboard(data);
        }
      };

      $.ajax(ajax_settings);
