extends base

- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage=task.name
    include includes/header-quest

block content
  .container-fluid
    div(style="background: #f5f5f5;").row
      .col-xs-6.col-xs-offset-1
        .row.quest-guide
          - for doc in completed_docs
            div.doc-item-col.col-xs-2.col-sm-1.text-center
              h4 &#8226;
          - for doc in documents
            div(data-doc="{{doc.pk}}").doc-item-col.col-xs-2.col-sm-1.text-center
              h4 &#8226;
      .col-xs-2
        h4.pull-right Score: <span id='score'>#{user.userprofile.rating_score}</span>
      .col-xs-2
        h4 Level: #{user.userprofile.highest_level.name}

  #insert

  .container.head-space
    .row
      div(style="padding-top:2px;").col-xs-4.col-xs-offset-4
        div(id="quest-submit").button.btn.btn-default.btn-block.done Submit

  div(style="display: none;").container
    form(id="quest-complete", method="post", action="/quest/{{task.pk}}/")
      - csrf_token
      input(type="hidden", name="task_type", value="concept-recognition")



block post-footer
  script(src='#{STATIC_URL}js/quest-app.js')
  script.
    window.intercomSettings['quest'] = #{ task.id };

  script.
    var task_id = #{ task.id };

    $('.doc-item-col').map(function() { return $(this).data('doc'); }).each(function(i, v) {

      var ajax_settings = {
        url: '/document/'+ task_id +'/'+v+'/',
        type: 'GET',
        dataType: 'html',
        success: function(data) {
          $('#insert').append(data);
          if(i == 0) { activate_tabs(v); }

        }
      };
      $.ajax(ajax_settings);

    });

