nav(role='navigation').navbar.navbar-default.navbar-static-top
  .container-fluid
    .row
      .col-sm-3.hidden-xs
        h1
          a(href='{% url "common:landing" %}') Mark2Cure

      .col-sm-4.col-xs-9
        h2.text-center #{headerMessage}

      .col-xs-3
        button(type='button', data-toggle='collapse', data-target='#example-foo-collapse-1').navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      .col-sm-5.col-xs-12
        #example-foo-collapse-1.collapse.navbar-collapse
          .row
            .col-xs-6
              .row
                .col-xs-12
                  p {{user}}
                .col-xs-12
                  p Score: <span id='score'>#{user.userprofile.rating_score}</span>
                .col-xs-12
                  p Level: #{user.userprofile.highest_level.name}


            .col-xs-6
              .row
                .col-xs-12
                  p
                    a(href='{% url "profile:settings" %}') Settings
                .col-xs-12
                  p
                    a(href='{% url "registration:logout" %}') Logout

