extends base

- load humanize
- load widget_tweaks

block content

  .row
    .jumbotron
      h1.text-center
        | We have a few questions...

      p.head-space.text-center
        | Thank for your work on this important scientific study. Before we begin, your first HIT is simply to fill in this short survey honestly. This information will only be used when we analyze the results collected from all workers. It will not be redistributed nor impact your standing within the AMT in any way. If you have questions, please 
        a(href="mailto:nanis@scripps.edu,bgood@scripps.edu?subject=Mark2Cure Worker Banned")
          | contact us
        small
          | (please include your Worker ID)

      form(method='post', role='form')
          {% csrf_token %}

          .form-group
              label
                | #{form.country.label_tag}
              - for error in form.country.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.country|add_class:'form-control'}

          .form-group
              label
                | #{form.gender.label_tag}
              - for error in form.gender.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.gender|add_class:'form-control'|add_class:'selectize-basic'}

          .form-group
              label
                | #{form.age.label_tag}
              - for error in form.age.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.age|add_class:'form-control'}

          .form-group
              label
                | #{form.occupation.label_tag}
              - for error in form.occupation.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.occupation|add_class:'form-control'|add_class:'selectize-occupation'}

          .form-group
              label
                | #{form.education.label_tag}
              - for error in form.education.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.education|add_class:'form-control'|add_class:'selectize-basic'}

          .form-group
              label
                | #{form.science_education.label_tag}
              - for error in form.science_education.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.science_education|add_class:'form-control'|add_class:'selectize-basic'}

          .form-group
              label
                | #{form.motivation.label_tag} (Can pick multiple or write your own)
               - for error in form.motivation.errors
                  .alert.alert-danger
                      strong
                          | {{ error|escape }}
              #{form.motivation|add_class:'form-control'|add_class:'selectize-motivation'}


          button(type='submit', value='Submit').btn.btn-default
              | Submit


      p.head-space-xl
        strong
          | Thanks for being awesome,
      p
        |     Max Nanis
      p
        |     Biologist, TSRI
