extends base

block header
  - with headerMessage='Training #1: Acquire Disease Marking Skill'
    include includes/header-anon


block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 This is what you marked in Training #1!
          h4 Most people don't think they can do this and would be scared to try, but <strong>YOU DID IT!</strong>
          h4 Highlighting diseases like this is how you will earn points and help science!
          .col-xs-4.col-xs-offset-4
            a(href='/training/intro/1/step/feedback/', id='next').btn.btn-default.btn-block Next

    .row.head-space
      #quest.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph.results Does choice of insulin regimen really matter in the management of <span class="user_annotated">diabetes</span>?  To assess the management of <span class="user_annotated">diabetes</span>, we reviewed records of 20 <span class="user_annotated">diabetes</span> patients.  Of the 20 <span class="user_annotated">diabetes</span> patients, 17 had <span class="user_annotated">type 2 diabetes mellitus</span>.  The remaining 3 had <span class="user_annotated">inherited and/or type I diabetes mellitus</span>.  Of the 20 patients, 10 patients were also diagnosed with <span class="user_annotated">heart disease</span> or <span class="user_annotated">rheumatoid arthritis</span>.  We will discuss the effects of insulin regimen on <span class="user_annotated">type 2 diabetes mellitus</span> patients (ie- <span class="user_annotated">T2DM</span> patients) with or without <span class="user_annotated">rheumatoid arthritis</span> (<span class="user_annotated">RA</span>) or <span class="user_annotated">heart disease</span> (<span class="user_annotated">HD</span>).  In particular, we will examine the effects of these insulin regimen on the symptoms of the diseases.  We will focus on some common symptoms such as <span class="user_annotated">fatigue</span> as well as <span class="user_annotated">frequent urination</span>.  Another crucial symptom that we will investigate includes <span class="user_annotated">tingling and/or numbness in the hands or feet</span>.

    .row.head-space-xl
      .col-md-10.col-md-offset-1
        .progress
          div(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;').progress-bar.progress-bar-striped.active

    .row.head-space
      a(href='/training/intro/1/step/feedback/', id='next').btn.btn-default.pull-right Next

