extends base

- load humanize

block content

    - for sec in doc.available_sections
        .row
          - if user.is_authenticated and user_profile.mturk == False
              .col-sm-10.col-sm-offset-1
                h4
                  | #{ sec.get_kind_display }

          .col-sm-10.col-sm-offset-1.head-space
            div(id="{{ sec.pk }}").paragraph.entity_tag
              p
                | #{ sec.text }


    .row.relationship-validation
      .col-sm-6.col-sm-offset-3
        div.panel.panel-default
          div.panel-heading
            | Are the following relationships true?
          div.panel-body
            p
              | Using the document above, please confirm if the following relationships are true
          table.table.table-striped
            thead
              th
                | Subject
              th
                | Relation
              th
                | Object
              th

            tbody
            - for relationship, index in relationships
              tr
                td
                  | #{ relationship.concept.preferred_name }
                td
                  | #{ relationship.relationship.full_name }
                td
                  | #{ relationship.target.preferred_name }
                td
                  form(method="post", action="/document/{{ doc.pk }}/concepts/validate/submit/").relationship
                    {% csrf_token %}
                    input(type="hidden", name="concept_relationship", value="{{ relationship.pk }}")

                    input(type="checkbox", name="vote", checked, readonly, data-on-color="success", data-off-color="warning", data-on-text="Yes", data-off-text="No").yes-no-toggle


    include document/controls


block post-footer

  script.
    $("input.yes-no-toggle").bootstrapSwitch();
    $("tr").hover(function(e) {
      // console.log( $(this) );
      var input = $(this).children().last().find('.yes-no-toggle');
      input.bootstrapSwitch('readonly', false);
    });

    $('button.done').click(function(evt) {
      evt.preventDefault();

      $.each($('form.relationship'), function(e) {
        var form = $(this),
            data = {
          'csrfmiddlewaretoken' : form.find('input[name="csrfmiddlewaretoken"]').val(),
          'concept_relationship': form.find('input[name="concept_relationship"]').val(),
          'vote'                : form.find('.yes-no-toggle').bootstrapSwitch('state')
          }

        $.ajax({
          type: 'POST',
          url: form.attr('action'),
          data: data,
          cache: false,
          async: false,
        });
      });

      $('form.next-document').submit();
    });

