- load humanize

block content

  .row
    .col-xs-8.col-xs-offset-2
      .row.alert.alert-info.alert-sticky
        h2.text-center New Annotations!
        h3.text-center You earned 1,000 points for marking this new document
        p.text-center You were the first person to annotate this document, <strong>thank you</strong> for your contribution to science!

  - for section in sections
      .row
        .col-sm-10.col-sm-offset-1.head-space.game
          div(id="{{ section.pk }}").results.paragraph-box
            p.paragraph
              - for indexes, text, counter, gm_pk, user_pk, user_annotated in section.words
                span( data-counter="{{ counter }}",
                      data-starti="{{ indexes.0 }}",
                      data-stopi="{{ indexes.1 }}",
                      data-gmannid="{{ gm_pk }}",
                      data-uannid="{{ user_pk }}")
                  | #{ text } 

  .row
    .col-sm-3.col-sm-offset-1
      table.table
        tbody
          tr
            td
              div(style="height: 16px; width: 16px; background-color: #0cf")
            td
              | Your annotations



block post-footer
    script.
        $.each($('#doc_{{doc.pk}} div.results p.paragraph'), function() {
          /* Add the current users recently submitted annotations */
          $.each($(this).find('span'), function(w) {
            var word = $(this),
                next_word = word.next(),
                u_ann = word.data('uannid'),
                next_word_u_ann = next_word.data('uannid');


            if(u_ann != "None") { word.addClass('user_annotated'); }

            if( u_ann != "None" && u_ann != next_word_u_ann ) {
              word.html( word.html().trim() );
              word.addClass('neighbor_u');
            }
          });

        });

