- load humanize

block content

  .row
    .col-xs-8.col-xs-offset-2
      .row.alert.alert-info.alert-sticky
        #partner-info.col-sm-4
          p(style='margin-bottom: 0px;')
            small You were paired with:
          h3(style='margin-top: 0px;') #{partner}
          h4 Level: #{partner.userprofile.highest_level.name}
          h5 #{partner.userprofile.quote}

        .col-xs-8
          h2.text-center
            | Earned
            | <span id='doc-f'>{% widthratio results.0.2 1.0 1000 %}</span>
            | points!

  - for section in sections
      .row
        .col-sm-10.col-sm-offset-1.head-space.game
          div(id="{{ section.pk }}").paragraph-box.results
            p.paragraph
              - for indexes, text, counter, gm_pk, user_pk, user_annotated in section.words
                span( data-counter="{{ counter }}",
                      data-starti="{{ indexes.0 }}",
                      data-stopi="{{ indexes.1 }}",
                      data-gmannid="{{ gm_pk }}",
                      data-uannid="{{ user_pk }}")
                  | #{ text } 

  .row
    .col-sm-3.col-sm-offset-1
      table.table
        tbody
          tr
            td
              div(style="height: 16px; width: 16px; background-color: #00CC00")
            td
              | Your partner's annotations

          tr
            td
              div(style="height: 16px; width: 16px; background-color: #0cf")
            td
              | Your annotations


block post-footer
    script.
      drawUserWithGolden();
